@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(Images/Windows-xp-wallpaper.jpg);
  background-size: cover;
  height: 100vh;
}
body .app-content {
  display: flex;
  flex-direction: row;
  height: 95%;
  padding: 20px;
}
body .app-content nav {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 10%;
  height: 100%;
}
body .app-content nav div {
  margin-top: 10px;
  text-align: center;
}
body .app-content nav div a {
  display: block;
}
body .app-content nav div a img {
  width: 40px;
}
body .app-content nav div p {
  font-family: Trebuchet MS, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
}
body footer {
  height: 5%;
  display: flex;
  align-items: center;
  background-color: #245EDC;
  background: linear-gradient(to bottom, #245EDC 0%, #3f8cf3 9%, #245EDC 18%, #245EDC 92%, #1941A5 100%) center/cover no-repeat;
}
body footer .button-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%;
  width: 170px;
  gap: 10px;
  height: 100%;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  font-style: italic;
  background: radial-gradient(circle, #5eac56 0%, #3c873c 100%) center/cover no-repeat;
  box-shadow: 0px 5px 10px #79ce71 inset, 4px 0 8px #3f8cf3;
  padding: 2px 25px 6px 10px;
  text-shadow: 1px 1px 3px #222;
  border-radius: 0px 8px 8px 0px;
  margin-right: 16px;
}
body footer .button-start:hover {
  cursor: pointer;
}
body footer .button-start .footer-start {
  width: 30px;
  text-align: center;
}
body footer .button-start .footer-start img {
  max-width: 30px;
}
body footer .button-start .footer-start-text {
  width: 80%;
  text-align: left;
  color: white;
}
body footer .button-start .footer-start-text .start {
  text-decoration: none;
  color: white;
}
body footer .button-start .footer-start-text .start:hover {
  cursor: pointer;
}
body footer .taskbar {
  display: flex;
  width: 85%;
  align-items: center;
  gap: 2px;
}
body footer .taskbar .open-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 150px;
  height: 30px;
  background-color: #4892F7;
  background: url(Images/btn1.png) no-repeat 0 0;
  border: 1px solid #306FD9;
  border-radius: 2px;
  font-family: calibri, monospace;
  font-size: 14px;
  line-height: 14px;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  cursor: pointer;
}
body footer .taskbar .open-tab:hover {
  background: url(Images/btn2.png) no-repeat 0 0;
}
body footer .taskbar .open-tab p {
  font-family: Trebuchet MS, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
}
body footer .taskbar .open-tab img {
  width: 20px;
}
body footer .taskbar .active {
  background: url(Images/btn3.png) no-repeat 0 0;
}
body footer .time {
  height: 100%;
  width: 10%;
  width: 170px;
  line-height: 1.5;
  background: linear-gradient(to bottom, #1290E9 0%, #19B9F3 9%, #1290E9 18%, #1290E9 92%, #1941A5 100%) center/cover no-repeat;
  box-shadow: 0px 5px 10px #14A5F0 inset, 0px 5px 10px #333333;
  padding: 9px 15px 9px 25px;
  border-left: 1px solid #092E51;
  text-shadow: 1px 1px 2px #222;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}
body footer .time p {
  font-family: Trebuchet MS, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
}
body .start-menu {
  position: absolute;
  background-color: #D2E2F9;
  padding: 10px;
  width: 30%;
  display: none;
  height: 50%;
  z-index: 1;
  text-align: right; /* centrer à droite le button close */
}
body .start-menu .start-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  border-bottom: 1px solid white;
  padding-left: 10px;
}
body .start-menu .start-menu-item:hover {
  background-color: aliceblue;
  cursor: pointer;
}
body .start-menu .start-menu-item a img {
  width: 40px;
}
body .start-menu-display {
  display: block;
  bottom: 5%;
  left: 0px;
  animation-name: start-position;
  animation-duration: 1s;
}
@keyframes start-position {
  0% {
    left: 0px;
    bottom: 0%;
    height: 30%;
    z-index: -1;
  }
  99% {
    left: 0px;
    bottom: 5%;
    height: 50%;
    z-index: -1;
  }
  100% {
    left: 0px;
    bottom: 5%;
    height: 50%;
    z-index: 1;
  }
}
body .start-menu-hidden {
  bottom: -300%;
  left: 0%;
  animation-name: start-menu-hidden;
  animation-duration: 4s;
}
@keyframes start-menu-hidden {
  0% {
    left: 0px;
    bottom: 5%;
    height: 100%;
    display: block;
  }
  100% {
    left: 0px;
    bottom: -300%;
    height: 30%;
    display: none;
  }
}
body .window-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  border: 2px solid #245EDC;
}
body .window-grid .window-grid-header {
  grid-area: 1/1/1/5;
  background-color: #245EDC;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
body .window-grid .window-grid-header .window-grid-header-logo {
  width: 5%;
}
body .window-grid .window-grid-header .window-grid-header-logo img {
  width: 35px;
  border-radius: 7px;
}
body .window-grid .window-grid-header .window-grid-header-title {
  width: 75%;
}
body .window-grid .window-grid-header .window-grid-header-title p {
  font-family: Trebuchet MS, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
}
body .window-grid .window-grid-header .window-grid-header-menu {
  width: 20%;
  text-align: right;
}
body .window-grid .window-grid-header .window-grid-header-menu img {
  width: 35px;
  border-radius: 7px;
}
body .window-grid .window-grid-main {
  grid-area: 2/1/3/5;
  background-color: #ECE9D8;
  display: grid;
  padding: 0px;
  grid-template-columns: repeat(5, 1fr);
  height: 55vh;
  overflow: scroll;
}
body .window-grid .window-grid-main .menu {
  grid-area: 1/1/2/6;
  padding: 5px;
  background-color: rgb(213, 218, 223);
  border-bottom: 1px white solid;
  position: sticky;
  top: 0;
}
body .window-grid .window-grid-main .menu a {
  text-decoration: none;
  margin-left: 5px;
  font-family: Trebuchet MS, Tahoma, sans-serif;
  font-weight: bold;
}
body .window-grid .window-grid-main .menu a:hover {
  color: white;
}
body .window-grid .window-grid-main .projet-1-pres-title {
  grid-area: 2/1/3/6;
  padding: 5px;
  border-bottom: 1px white solid;
}
body .window-grid .window-grid-main .projet-1-pres-title p {
  font-family: Trebuchet MS, Tahoma, sans-serif;
  font-weight: bold;
  color: black;
}
body .window-grid .window-grid-main .projet-1-pres-image {
  grid-area: 3/1/4/3;
  padding: 5px;
  /*border-right: 1px white solid;*/
}
body .window-grid .window-grid-main .projet-1-pres-image img {
  width: 100%;
}
body .window-grid .window-grid-main .projet-1-pres-text {
  grid-area: 3/3/4/6;
  padding: 5px;
}
body .window-grid .window-grid-main .projet-1-pres-text .technologies {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
body .window-grid .window-grid-main .projet-1-pres-text .technologies .scss {
  width: 40px;
}
body .window-grid .window-grid-main .projet-1-pres-text .technologies .html {
  width: 50px;
}
body .window-grid .window-grid-main .projet-1-pres-text .technologies .css {
  width: 90px;
}
body .window-grid .window-grid-main .projet-1-pres-text .technologies .js {
  width: 37px;
}
body .window-grid .window-grid-main .projet-1-pres-text .technologies .sql {
  width: 50px;
}
body .window-grid .window-grid-main .projet-1-pres-text .technologies .php {
  width: 50px;
}
body .window-grid .window-grid-main .projet-1-pres-text .soft-skills-fonction {
  padding-left: 40px;
}
body .window-grid .window-grid-main .projet-2-pres-title {
  grid-area: 4/1/5/6;
  padding: 5px;
  border-bottom: 1px white solid;
  /*border-top: 1px white solid;*/
}
body .window-grid .window-grid-main .projet-2-pres-title p {
  font-family: Trebuchet MS, Tahoma, sans-serif;
  font-weight: bold;
  color: black;
}
body .window-grid .window-grid-main .projet-2-pres-text {
  grid-area: 5/1/6/4;
  padding: 5px;
  /*border-right: 1px white solid;*/
}
body .window-grid .window-grid-main .projet-2-pres-text .technologies {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
body .window-grid .window-grid-main .projet-2-pres-text .technologies .scss {
  width: 40px;
}
body .window-grid .window-grid-main .projet-2-pres-text .technologies .html {
  width: 50px;
}
body .window-grid .window-grid-main .projet-2-pres-text .technologies .css {
  width: 90px;
}
body .window-grid .window-grid-main .projet-2-pres-text .technologies .js {
  width: 37px;
}
body .window-grid .window-grid-main .projet-2-pres-text .technologies .sql {
  width: 50px;
}
body .window-grid .window-grid-main .projet-2-pres-text .technologies .php {
  width: 50px;
}
body .window-grid .window-grid-main .projet-2-pres-text .technologies-2 {
  width: 50%;
  gap: 10px;
  margin: auto;
}
body .window-grid .window-grid-main .projet-2-pres-text .evaluation {
  background-color: rgb(213, 218, 223);
}
body .window-grid .window-grid-main .projet-2-pres-text .evaluation .evaluation-niveau-html {
  width: 60%;
  background-color: red;
  color: white;
  text-align: center;
}
body .window-grid .window-grid-main .projet-2-pres-text .evaluation .evaluation-niveau-css {
  width: 60%;
  background-color: green;
  color: white;
  text-align: center;
}
body .window-grid .window-grid-main .projet-2-pres-text .evaluation .evaluation-niveau-js {
  width: 30%;
  background-color: rgb(225, 116, 194);
  color: white;
  text-align: center;
}
body .window-grid .window-grid-main .projet-2-pres-text .evaluation .evaluation-niveau-scss {
  width: 50%;
  background-color: orange;
  color: white;
  text-align: center;
}
body .window-grid .window-grid-main .projet-2-pres-text .evaluation .evaluation-niveau-php {
  width: 10%;
  background-color: rgb(55, 211, 183);
  color: white;
  text-align: center;
}
body .window-grid .window-grid-main .projet-2-pres-text .evaluation .evaluation-niveau-sql {
  width: 30%;
  background-color: rgb(82, 161, 229);
  color: white;
  text-align: center;
}
body .window-grid .window-grid-main .projet-2-pres-image {
  grid-area: 5/4/6/6;
  padding: 5px;
}
body .window-grid .window-grid-main .projet-2-pres-image img {
  width: 100%;
}
body .window-grid .window-grid-main .projet-2-pres-image-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body .window-grid .window-grid-main .projet-2-pres-image-2 img {
  width: 100%;
}
body .window-grid .window-grid-main .projet-2-pres-image-2 .scss {
  width: 40px;
}
body .window-grid .window-grid-main .projet-2-pres-image-2 .html {
  width: 50px;
}
body .window-grid .window-grid-main .projet-2-pres-image-2 .css {
  width: 90px;
}
body .window-grid .window-grid-main .projet-2-pres-image-2 .js {
  width: 37px;
}
body .window-grid .window-grid-main .projet-2-pres-image-2 .sql {
  width: 50px;
}
body .window-grid .window-grid-main .projet-2-pres-image-2 .php {
  width: 50px;
}
body .window-grid .window-grid-main .projet-3-pres-title {
  grid-area: 6/1/7/6;
  padding: 5px;
  border-bottom: 1px white solid;
  /*border-top: 1px white solid;*/
}
body .window-grid .window-grid-main .projet-3-pres-title p {
  font-family: Trebuchet MS, Tahoma, sans-serif;
  font-weight: bold;
  color: black;
}
body .window-grid .window-grid-main .projet-3-pres-image {
  grid-area: 7/1/8/3;
  padding: 5px;
  /*border-right: 1px white solid;*/
}
body .window-grid .window-grid-main .projet-3-pres-image img {
  width: 100%;
}
body .window-grid .window-grid-main .projet-3-pres-text {
  grid-area: 7/3/8/6;
  padding: 5px;
}
body .window-grid .window-grid-main .projet-3-pres-text .technologies {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
body .window-grid .window-grid-main .projet-3-pres-text .technologies .scss {
  width: 40px;
}
body .window-grid .window-grid-main .projet-3-pres-text .technologies .html {
  width: 50px;
}
body .window-grid .window-grid-main .projet-3-pres-text .technologies .css {
  width: 90px;
}
body .window-grid .window-grid-main .projet-3-pres-text .technologies .js {
  width: 37px;
}
body .window-grid .window-grid-main .projet-3-pres-text .technologies .sql {
  width: 50px;
}
body .window-grid .window-grid-main .projet-3-pres-text .technologies .php {
  width: 50px;
}
body .window-grid .window-grid-footer {
  grid-area: 3/1/4/5;
  background-color: #245EDC;
  padding: 10px;
}
body .element-hidden {
  display: none;
}

@media screen and (max-width: 590px) {
  body .app-content nav {
    width: 40%;
  }
  body footer .taskbar .open-tab {
    display: none;
  }
  body .start-menu {
    width: 70%;
  }
  body .window-grid {
    width: 98%;
    left: 1%;
    top: 10%;
  }
}

/*# sourceMappingURL=Portfolio_Main_Page_CSS.css.map */
